*{
    margin: 0;
    padding: 0%;
    background-color: #fff2ff;
}
header{
    height: 80px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #FF4136, #0074D9, #2ECC40);
}
#mainHomeSection{
    display: flex;
    flex-direction: row;
    height: 630px;
}
#controls{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c593c6;
    margin-right: 80px;
}
p{
  background-color: #c593c6;
}
#controlButtonSection{
  background-color: #c593c6;
}

#controls > button{
  width: 160px;
  height: 50px;
  margin: 10px;
}
#controls > p{
  font-size: 30px;
  margin: 10px;
  margin-bottom: 40px;
}

#resetButton{
  background-color: rgb(113, 189, 255);
}
#eraserButton{
  background-color: aliceblue;
}
#blackButton{
  background-color: black;
  color: rgb(255, 255, 255);
}
#rgbButton{
  font-weight: 700;
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom right, #76f433, #ed775c, #7158de);
}
.control-buttons{
  width: 160px;
  height: 30px;
  margin: 20px;
  background-color: rgb(255, 24, 228);
}
#gridContainer{
  margin-top: 20px;
}