*{
    margin: 0%;
    padding: 0%;
}
#header{
    display: flex;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 103, 84);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#main-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#controls{
    background-color: rgb(31, 33, 32);
    width: 50%;
    height: 713px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.control-buttons{
    margin: 2rem;
    
}
#sketch-main-page{
    background-color: rgb(138, 130, 128);
    height: 713px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#stetch-box{
    background-color: aliceblue;
    height: 600px;
    width: 600px;
    margin: 3rem;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);

}
.block{
    border: 1px solid rgb(91, 86, 86);
    background-color: rgb(255, 255, 255);
}
.control-buttons{
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px #999;
  }
  
  .control-buttons:hover {
    background-color: #3e8e41
}
  
  .control-buttons:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
